body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  position: relative;

}
.App, .App h2{
  color: #FFFFFF;
}
.App section:nth-child(2n){
  background-color: #1f1f20;
}
.App section:nth-child(2n + 1){
  background: #252527;
}

/*my attempt to reset styles*/
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
}
svg{
  max-width: 50px;
  max-height: 50px;
}
li {
  list-style: none;
}

